

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Working with p5js
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<div id="canvasContainer" class="canvas-container" ></div>

<ion-range min="2" max="20" color="primary" [(ngModel)]="lineWidth">
  <ion-icon size="small" slot="start" name="brush"></ion-icon>
  <ion-icon slot="end" name="brush"></ion-icon>
</ion-range>

<input type="color" [(ngModel)]="strokeColor" name="head"
       value="#e66465">
<ion-button expand="full" (click)="exportImage()">
  <ion-icon slot="start" name="download"></ion-icon>
  Export image
  </ion-button>
</ion-content>
<a id="downloadLink" style="diplay:none;"></a>
