<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      p5jsPaint
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">p5jsPaint</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="canvasContainer" class ="canvas-container"></div>
  <ion-range min="2" max ="20" color="primary" [(ngModel)]="lineWidth">
    <ion-icon size="small" slot="start" name="brush"></ion-icon>
    <ion-icon  slot="end" name="brush"></ion-icon>
  </ion-range>
  
  <input type="color" [(ngModel)]="strokeColor" name ="head" value="#000000">
  <ion-button expand="full" (click)="addPhotoToGallery()"><ion-icon slot="start" name="download"></ion-icon>Export Image</ion-button>
  <ion-grid>
    <ion-row>
    <ion-col size="6" 
      *ngFor="let photo of photos; index as position">
      <ion-img src="{{ photo.base64 ? photo.base64 : photo.webviewPath }}"></ion-img>
    </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<a id="downloadLink" style="display: none;"></a>